<h1><%=recipe.name%> Recipe</h1>
<h2>Ingredients:</h2>
<p><%=recipe.ingredients%></p>
<h2>Cook Time</h2>
<p><%=recipe.cook_time%></p>
<a href="/recipes/<%=recipe.id%>/delete"><button>Delete This Recipe</button></a>
